*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #595DB8;
}
/* UL tag-i */
.sortable-list{
    background: #fff;
    width: 445px;
    border-radius: 6px;
    padding: 30px 25px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.sortable-list .item{
    list-style: none;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 11px;
    padding: 10px 13px;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.item .details{
    display: flex;
    align-items: center;
}
/* 
    .item       - LI tag-idir
    .details    - DIV tag-idir
*/
.item .details img{
    width: 43px;
    height: 43px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.item .details span{
    font-size: 1.13rem;
}
.item i{
    color: #474747;
    font-size: 1.13rem;
}
.item.dragging :where(.details, i){
    opacity: 0;
}