*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E3F2FD;
}
.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .color{
    list-style: none;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(52,87,220,0.08);
    transition: transform 0.3s ease;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
/* 
    elemente kursor klikledikde yeni active 
    edildikde scale metodu islesin 
*/
.container .color:active{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}
.color .rect-box{
    width: 185px;
    height: 185px;
    border-radius: 5px;
    background: #8A6CFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.color:hover .rect-box{
    filter: brightness(106%);
    -webkit-filter: brightness(106%);
}
.color .hex-value{
    display: block;
    color: #444;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}
.refresh-btn{
    position: fixed;
    left: 50%;
    bottom: 40px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #8A6CFF;
    border: 2px solid #fff;
    box-shadow: 0 15px 25px rgba(52,87,220,0.2);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media screen and (max-width: 510px) {
    .container {
        margin: 10px;
    }
    .container .color{
        margin: 8px;
        padding: 5px;
    }
    .color .rect-box{
        width: 145px;
        height: 148px;
    }
}